<div class="usershow">
  <img src="<%= @user.img_url %>", alt="User Photo", height="200", width="200">
  <ul>
    <li>Name: <strong><%= @user.full_name %></strong></li>
    <li>Handle: <strong>@<%= @user.handle %></strong></li>
    <li>Location: <strong><%= @user.location %></strong></li>
    <li>Bio: <strong><%= @user.bio %></strong></li>
  </ul>
  <br>
  <% if logged_in? && @owner %>
    <%= button_to 'Edit Profile', edit_user_path, method: :get %>
    <br>
    <%= button_to 'Delete Profile', user_path, method: :delete, data: {confirm: "Confirm delete profile?"} %>
  <% end %>

  <h2>Posts</h2>
  <ul>
    <% @user.posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
</div>