<h1>Write a new post!</h1>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <br>
  <%= f.label :category_id %>
  <%= f.collection_select :category_id, @categories, :id, :name %>
  <br>
  <%= f.submit %>
<% end %>