<h1>Create a new post!</h1>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li style="color:red"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :category_id %><br>
  <%= f.collection_select :category_id, @categories, :id, :name, :prompt => 'Select a Category' %>
  <br>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  <br>
  <%= f.label :content %><br>
  <%= f.text_area :content %>
  <br>
  <%= f.label :img_url %><br>
  <%= f.text_field :img_url %>
  <br>
  <%= f.submit %>
<% end %>