<!DOCTYPE html>
<html>
  <head>
    <title>Jeff, uh, Finds A Way</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="title">
      <h1><%= link_to 'Jeff, uh, Finds a Way', posts_path %></h1>
      <h3>The Jeff Goldblum Fan Forum</h3>
      </nav>
        <nav class="options">
          <%= link_to 'Home', posts_path %>
          <%= ' * ' %>
          <%= link_to 'Categories', categories_path %>
          <% if logged_in? %>
            <%= ' * ' %>
            <%= link_to 'Make a Post', new_post_path %>
            <%= ' * ' %>
            <%= link_to 'Profile', user_path(current_user) %>
          <% end %>
        </nav>
        <nav class="profile">
          <% if logged_in? %>
          <span>
            <h4>Welcome to Jeffland, <%= current_user.first_name %>!</h4>
            <%= button_to 'Logout', logout_path, method: :delete %>
            </span>
          <% else %>
            <%= link_to "Login", login_path %>
            <%= ' / ' %>
            <%= link_to "Sign Up", new_user_path %> 
          <% end %>
        </nav>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </body>

</html>
